@import "src/assets/styles/var";

.card {
  min-width: 350px;
  border-radius: 10px;
  position: relative;
  padding: 40px 25px 25px;
  width: 100%;

  &-theme-default {
    background-color: $white;
  }

  &-theme-black {
    color: $white;
    background-color: $black;

    .tag {
      background-color: $blue;
    }
  }

  .tag {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-title {
    position: relative;
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;

    &::before {
      position: absolute;
      content: "$";
      font-size: 16px;
      left: 50%;
      top: 2px;
      transform: translateX(-30px);
    }

    &::after {
      position: absolute;
      content: "/mo";
      font-size: 18px;
      bottom: 5px;
    }
  }

  .card-content {
    list-style: none;
    margin-bottom: 15px;
  }

  .button--premium {
    background-color: $blue;
    box-shadow: 0 2px 4px 0 $blue;
  }

  .button--default {
    background-color: $black;
    box-shadow: 0 2px 4px 0 #a9a9a9;
  }

  .button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    height: 36px;
    color: $white;

    span {
      margin-left: 5px;
    }
  }
}